*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a:focus {
  outline: none;
}

.content {
  display: grid;
  grid-template-columns: 710px 400px;
  justify-content: center;
  align-content: center;
  gap: 0 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-height: 534px;
}

.result__video-container {
  position: relative;
  width: 100%;
  margin-block-end: 16px;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 2px;
  color: currentColor;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  width: 225px;
  margin-top: 3px;
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  padding: 2px 0 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}
.search-form__textfield:hover {
  cursor: pointer;
}

.search-form__textfield:active {
  border-color: #fff;
}

.search-form__textfield:focus-visible,
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__fieldset:not(:last-child) {
  padding-inline-end: 40px;
}

.search-form__checkbox-list {
  padding-block-start: 4px;
}

.search-form__label {
  cursor: pointer;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:not(:last-child) {
  margin-inline-end: 9px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox + .search-form__pseudo-checkbox::after {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
}

.search-form__label-text {
  display: inline-block;
  vertical-align: top;
}

.button {
  border: 1px solid #fff;
  color: currentColor;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: last baseline;
  padding-inline: 10px;
  padding-block: 6px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  height: 100%;
}

.title {
  color: currentColor;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: block;
  max-height: 298px;
  max-width: 398px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-block-start: 2px;
}

.content__list-item {
  padding-block-end: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin-block: 2px;
  margin-inline: 2px;
}

.content__card-link:first-child {
  margin-block-start: 0;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 200px;
  gap: 5px;
  max-width: 60%;
}

.content__video-card-title {
  padding-inline: 1px 4px;
  padding-block-start: 2px;
  overflow: hidden;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  padding-inline-start: 1px;
  padding-block-end: 2px;
  color: #fff;
  line-height: 16.2px; /* 90% */

  /*** Обрезаем мноточием ***/
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  padding-block: 6px;
}

.more-button:focus-visible {
  outline-offset: -3px;
}